body {
    background-color: #14213D;
    display: flex;
    overflow-x: hidden;
    margin: 0;
}

/*Left*/

.container-imgW{
    background-color: #ffffff;
    width: 50%;
    height: 100vh;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-W{
    color: #14213D;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
}

.container-imgW img{
    width: 60%;
}

/*Right*/

.container-home{
    position: absolute;
    top: 10px;
    right: 20px;
}

.container-home img{
    width: 70px;
    height: auto;
}

.container-home img:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

.container-iconST{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 150px;
    bottom: 180px;
}

.container-iconST img{      
    width: 25%;
    height: auto;
}

.STtxt{
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    padding-top: 70px;
    margin: 0;
}

/* Form Login */

.container-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    border-radius: 8px;
    position: absolute;
    text-align: center;
    top: 35%;
    left: 61%;
}

.tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-family: 'Kanit', sans-serif;
}

.tabs button {
    flex: 1;
    padding: 10px;
    cursor: pointer;
    border: none;
    font-size: 16px;
    border-radius: 8px;
    font-family: 'Kanit', sans-serif;
}

.tabs button.active {
    background: #FCA311;
    color: white;
}

form input {
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
}

form button {
    padding: 10px;
    background-color: #FCA311;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Kanit', sans-serif;
}

form button:hover {
    background: #FCA311;
}

.footer-links {
    text-align: center;
    font-family: 'Kanit', sans-serif;
    padding-top: 20px;
}

.footer-links a {
    color: #FCA311;
    text-decoration: none;
}

.forgot-password .white-text {
    color: white;
  }
  
  .forgot-password .colored-text {
    color: #FCA311;
  }